/* MIXIN */

/* VARIABLE */

/* BASE */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden; /* Hide scrollbars */
}
a {
  text-decoration: none;
}

/* HEADER */

.index-header {
  display: flex;
  &__link {
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: row-reverse;
    width: 100%;
    margin-right: 2%;
    font-size: large;
    color: white;
    margin-top: 10px;
    &__cross {
      padding: 0 20px;
      &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        background-color: red;
      }
    }
    &__minus {
      padding: 0 20px;
      &:hover {
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        background-color: rgba(201, 201, 201, 0.7);
      }
    }
    &__change {
      cursor: pointer;
      padding: 0 20px;
      &:hover {
        color: red;
        transition: all ease-in-out 0.5s;
      }
    }
  }
}
.text-control{
  font-size: 23px;
  font-weight: bolder;
}
// ANIMATION

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* MAIN */

/* HEADER */

.main-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.modal {
  width: 28%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: white;
  &__header {
    height: 20%;
    width: 100%;
    position: relative;
    text-align: center;
    &-logo {
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      place-content: center;
      & img {
        height: 30%;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
    @for $i from 1 through 13 {
      &:nth-child(#{$i}n) {
        animation-fill-mode: both;
        animation-delay: 0.5s * $i;
      }
    }
    animation: apparition 0.9s;
    &__form {
      height: auto;
      width: 100%;
      margin-top: 25px;
      display: flex;
      justify-content: center;
      &-link {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 25px;
        text-align: center;
        & i {
          padding: 10px;
          width: 21%;
          margin-left: 10px;
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all ease-in-out 0.3s;
          }
        }
      }
    }
    & .text-control {
      background-color: lightgray;
      border: none;
      border-radius: 2%;
      width: 70%;
      padding: 20px;
    }
    & input::placeholder {
      padding: 10%;
      font-weight: bold;
      font-size: smaller;
    }
  }

  .error {
    display: none;
  }
  &__title {
    font-size: 30px;
    & h1 {
      margin: 0;
      padding: 0;
    }
  }
}

.main-header__content {
  width: 72%;
  overflow: hidden;
}
.blue {
  background-color: royalblue;
  color: whitesmoke;
}
.white {
  border: 1px solid darkgray;
  background-color: white;
  color: red;
}
.black {
  background-color: black;
  color: white;
}
.modal__main__footer__validation {
  display: flex;
  justify-content: center;
  margin-top: 27%;
  & i {
    padding: 40px;
    background-color: white;
    color: darkgray;
    border: 1px solid darkgray;
    border-radius: 30%;
    &:hover {
      color: white;
      background-color: red;
      cursor: pointer;
      border: none;
      transition: all ease-in-out 0.3s;
    }
  }
}

video {
  object-fit: cover;
}

#video {
  //width: auto;
  height: 100vh;
  width: -webkit-fill-available;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .main-header {
    flex-direction: column;
    overflow: hidden;
  }
  .modal {
    order: 2;
    position: absolute;
    background-color: revert;
    background-color: rgba(201, 201, 201, 0.1);
    border: 1px solid rgb(19, 3, 3);
    border-radius: 20px;
    width: 50%;
    padding: 1%;
    transform: translate(55%, 10%);
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .modal__header {
    margin-top: 8%;
  }
  .modal__title {
    margin-top: 5%;
    & h1 {
      text-shadow: 1px 1px 2px black;
      color: white;
    }
  }
  .modal__header-logo img {
    width: 30%;
  }
  .main-header__content {
    width: 100%;
  }
  .modal__main__footer__validation {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 568px) {
  .modal {
    width: 80%;
    left: -37%;
    top: -8%;
  }
}

/* PAGE */
#nav-bar {
  position: fixed;
  z-index: 1;
  display: flex;
  background-color: black;
  height: 8%;
  width: 100%;
}
.nav-bar__logo {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 10px;
}
.logo {
  height: 40px;
  display: flex;
  cursor: pointer;
}
.normal {
  display: block;
  position: absolute;
  top: 16px;
}
.hover {
  display: flex;
  margin-top: 6px;
}
.normal:hover {
  display: none;
  transition: all ease-in-out 0.2s;
}

.bar {
  background-color: gray;
  height: 60%;
  width: 3px;
  align-self: center;
  margin-left: 20px;
}
// LOGO DE LOL
.lol {
  display: flex;
  align-items: center;
  margin-left: 1%;
  & img {
    height: 65%;
  }
}

// NAV BAR LINKS

.nav-bar__links {
  align-self: center;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
}
.links {
  color: white;
  padding: 27px 23px;
  transition: all ease-in-out 0.3s;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;

  &:hover {
    border: 2px solid lightblue;
    border-left: none;
    border-top: none;
    border-right: none;
    color: lightblue;
  }
}

.dropdown{
  align-self: center;
  & *{
    box-sizing: border-box;
  }
}


/*.page-header {
  width: 100%;
  height: 820px;
  overflow: hidden;
  & .main-header__video {
    width: 100%;
    overflow: hidden;

    & .header-video {
      transform: translate(0%, -12%);
    }
  }
}*/

/* INFO */

.sadge {
  height: 500px;
}

.removed {
  display: none;
}
